.auth-form{
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.auth-form h2{
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.auth-form h2:before, .auth-form h2:after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.auth-form h2:before{
    left: 0;
}

.auth-form h2:after{
    right: 0;
}

.auth-form .hint-text{
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.auth-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.auth-form .form-group{
    margin-bottom: 20px;
}

.auth-form input[type="checkbox"]{
    margin-top: 3px;
}

.auth-form .btn{        
    font-size: 16px;
    font-weight: bold;		
    min-width: 140px;
    outline: none !important;
}

.auth-form .row div:first-child{
    padding-right: 10px;
}

.auth-form .row div:last-child{
    padding-left: 10px;
}   

.auth-form a{
    color: #fff;
    text-decoration: underline;
}

.auth-form a:hover{
    text-decoration: none;
}

.auth-form form a{
    color: #5cb85c;
    text-decoration: none;
}	

.auth-form form a:hover{
    text-decoration: underline;
}  