
.mt {
	margin-top: 25px;
}

.mb {
	margin-bottom: 25px;
}
.centered {
	text-align: center;
}

div.profile-card {
	margin-left: 10px;
	margin-top: 10px;
}

div.popup-overlay {
	visibility:hidden;
	}
	
	.popup-content {
	visibility:hidden;
	}

div.popup-overlay.active{
		visibility:visible;
		}
		
		.popup-content.active {
		visibility:visible;
		}

h3.fa.fa-bars{
position: absolute;
right: 0px;
padding: 10px;
opacity: 0.5;
}

h3.fa.fa-bars:hover{
	opacity: 1;
}

section#file-upload{
	margin-left: 100px;
}

.title h3{
	color: #636363;
    margin: 0 0 15px;
    position: relative;
	text-align: center;
	padding-bottom: 30px;
}

#file-upload .upload-form{
	width: 400px;
    margin: 0 auto;
    padding: 30px 0;
    padding-top: 100px;
}

.custom-file-label {
	text-align: left;
}

.main-body{
	margin-top: 10px;
}



.img-container {
	position: relative;
	border-radius: 400px;
	border: 2px solid #add8e6;
  }
  


  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	
  }
  
  .img-container:hover .overlay {
	opacity: 1;
  }
  
  .icon {  
	color: #000000;
	font-size: 30px;
	position: absolute;
	top: 145px;
	left: 115px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: right;
  }
  
  .fa-edit:hover {
	color: #000000;
  }


  ul.nav-tabs li a.active{
	  background: #3b91ed !important;
	  color: #000000;
	  display: block;
  }

a.nav-link{
	color: #000000 !important;
}

  .hidden{
	  display: none;
  }

  .form-control-inline {
	width: 600px;
	margin-left: 55px;
	margin-top: 20px;
}

.btn-placement {
	margin-left: 20px;
	margin-bottom: 10px;
	align-content: center;
}